# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Environment Variables
.env

# SQLite Database
db.sqlite3

# Static files
staticfiles/

# Media
media/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store